.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background: #1b4332;
  color: white;
}

.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  text-decoration: none;
}

.navigation h4,
.nav-links {
  margin: 0;
}
